nav {
    display: flex;
    width: 98vw;
    justify-content: center;
}

.nav-layout {
    display: flex;
    height: 7rem;
    width: 100%;
    margin: 0 2rem;
    max-width: 110rem;
    min-width: 65rem;
    border-bottom: 1px solid #979797;
}
.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    height: 95%;
}

.nav-left h3 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.nav-left ul {
    display: flex;
    height: 100%;
    color: var(--text-gray);
}

.nav-left li {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-right: 2rem;
    text-decoration: none;
    list-style-type: none;
    height: 100%;
    cursor: pointer;
}

.nav-left li:hover {
    border-bottom: 4px solid var(--primary-orange);
}

.nav-right {
    display: flex;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.avatar-container {
    width: 5rem;
    margin-left: 3rem;
    border-radius: 50%;
    cursor: pointer;
}

.avatar {
    width: 100%;
    height: auto;
}

.avatar-container:hover {
    border: 2px solid var(--primary-orange);
}

.burger-menu {
    display: none;
}

.mobile-nav {
    position: absolute;
    top: 0;
    background-color: hsl(0, 100%, 100%);
    height: 100vh;
    width: 0vw;
    max-width: 30rem;
    z-index: 2;
    transition: width 0.5s ease-in;
}

.mobile-nav-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 0 0 4rem;
}
.mobile-nav ul {
    display: none;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0;
    margin-top: 6rem;
}

.mobile-nav li {
    cursor: pointer;
    margin-bottom: 3rem;
}

.mobile-nav img {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.cart-container {
    border-radius: 1rem;
    background-color: #ffffff;
    width: 34rem;
    height: 0rem;
    margin-right: 2rem;
    position: absolute;
    top: 5rem;
    right: -4rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    z-index: 2;
}

.cart-top {
    display: none;
    padding: 2rem;
    border-bottom: 1px solid #979797;
    height: 2.5rem;
}
.cart-top h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

.cart-bottom {
    display: none;
    justify-content: center;
    align-items: center;
    height: 18rem;
}

.cart-icon {
    cursor: pointer;
}

.cart-product-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}

.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #ffffff;
    background-color: var(--primary-orange);
    border-radius: 1rem;
    cursor: pointer;
}

.cart-product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-thumbnail {
    width: 5rem;
    height: 5rem;
}
.cart-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.delete-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}
.cart-icon img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

@media screen and (max-width: 650px) {
    .nav-layout {
        border: none;
        min-width: 15rem;
    }
    .nav-container {
        justify-content: space-between;
    }
    .nav-left ul {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0.3rem 2rem 0rem 2rem;
        height: 1.6rem;
        width: 2rem;
        cursor: pointer;
    }

    .burger-line {
        width: 1.2rem;
        height: 0.2rem;
        background-color: black;
    }

    .avatar-container {
        width: 4rem;
        margin-right: 2rem;
    }
}
